In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/housesalesprediction/kc_house_data.csv

In [2]:
df = pd.read_csv('/kaggle/input/housesalesprediction/kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [4]:
features= ['bedrooms','bathrooms','sqft_living',
           'sqft_lot','floors','waterfront','view'
           ,'condition','grade','sqft_above','sqft_basement',
           'yr_built','yr_renovated','lat','long'
           ]
x = df[features]
y =df['price']

In [5]:
x

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,47.6993,-122.346
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,47.5107,-122.362
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,47.5944,-122.299
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,47.5345,-122.069
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,47.5941,-122.299

In [6]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split as tts
xtrain,xtest,ytrain,ytest = tts(x,y,test_size=0.3)

In [8]:
xtrain

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long
9969,4,2.75,2250,3433,1.5,0,0,3,8,1500,750,1927,2013,47.6382,-122.307
3637,4,2.50,2790,7673,2.0,0,0,3,9,2790,0,1989,0,47.6692,-122.136
3002,4,2.25,2500,4046,1.5,0,0,4,7,1520,980,1940,0,47.6882,-122.382
19798,3,2.50,2370,4200,2.0,0,0,3,8,2370,0,2014,0,47.3696,-122.018
3528,3,2.00,1200,6074,1.0,0,0,3,7,1200,0,1968,0,47.3250,-122.205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7481,3,2.75,2170,7900,1.0,0,0,4,8,1380,790,1978,0,47.3620,-122.277
14795,2,1.00,880,6900,1.0,0,0,3,6,880,0,1943,0,47.4903,-122.191
11425,2,1.50,1240,1055,2.0,0,0,3,8,1200,40,1967,0,47.6104,-122.112
4742,2,1.00,950,3090,1.0,0,0,4,6,950,0,1909,0,47.5510,-122.276
11438,4,2.50,2010,7972,2.0,0,0,4,8,2010,0,1989,0,47.5782,-122.018

# ****Using simple linear regression**** #

In [9]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(xtrain,ytrain)
lr_accuracy=lr_model.score(xtest,ytest)
print(f'The accuracy of the simple linear regression model is {lr_accuracy}' )

The accuracy of the simple linear regression model is 0.6926721265801354

# **Using Ridge Regression**

In [10]:
from sklearn.linear_model import Ridge
r_model = Ridge()
r_model.fit(xtrain,ytrain)
r_accuracy=r_model.score(xtest,ytest)
print(f'The accuracy of the ridge regression model is {r_accuracy}' )

The accuracy of the ridge regression model is 0.6926414305611284

# **Using Random Forest Regressor**

In [11]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor()
rf_model.fit(xtrain,ytrain)
rf_accuracy=rf_model.score(xtest,ytest)
print(f'The accuracy of the random forest regression model is {rf_accuracy}' )

The accuracy of the random forest regression model is 0.8677186114699198

# **Using Elastic Net**

In [12]:
from sklearn.linear_model import ElasticNet
e_model = ElasticNet()
e_model.fit(xtrain,ytrain)
e_accuracy=e_model.score(xtest,ytest)
print(f'The accuracy of the elastic net regression model is {e_accuracy}' )

The accuracy of the elastic net regression model is 0.615483946390837

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.010e+14, tolerance: 1.954e+11
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

# **Using Decision Tree**

In [13]:
from sklearn.tree import DecisionTreeRegressor
t_model = DecisionTreeRegressor()
t_model.fit(xtrain,ytrain)
t_accuracy=t_model.score(xtest,ytest)
print(f'The accuracy of the random forest regression model is {t_accuracy}' )

The accuracy of the random forest regression model is 0.7645525865553757

# **Using KNN**

In [14]:
from sklearn.neighbors import KNeighborsRegressor
k_model = KNeighborsRegressor()
k_model.fit(xtrain,ytrain)
k_accuracy=k_model.score(xtest,ytest)
print(f'The accuracy of the random forest regression model is {k_accuracy}' )

The accuracy of the random forest regression model is 0.5116651672163763

# **Using Gradient Boost Regressoor**

In [15]:
from sklearn.ensemble import GradientBoostingRegressor
g_model = GradientBoostingRegressor()
g_model.fit(xtrain,ytrain)
g_accuracy=g_model.score(xtest,ytest)
print(f'The accuracy of the random forest regression model is {g_accuracy}' )

The accuracy of the random forest regression model is 0.8559212480985029

In [16]:
print(f'''
****************************************************
                    Summary
****************************************************
LinearRegression Accuracy = {int(lr_accuracy*100)}%
Ridge Accuracy = {int(r_accuracy*100)}%
RandomForest Accuracy = {int(rf_accuracy*100)}%
ElasticNet Accuracy = {int(e_accuracy*100)}%
DecionTree accuracy = {int(t_accuracy*100)}%
KNN accuracy = {int(k_accuracy*100)}%
Gradient Boosting Accuracy = {int(g_accuracy*100)}%
''')

****************************************************
                    Summary
****************************************************
LinearRegression Accuracy = 69%
Ridge Accuracy = 69%
RandomForest Accuracy = 86%
ElasticNet Accuracy = 61%
DecionTree accuracy = 76%
KNN accuracy = 51%
Gradient Boosting Accuracy = 85%

# **Conclusion**
Based on Accuracy alone The Random Forest Algotrithm works best on the given dataset